NEXT_PUBLIC_SUPABASE_URL=https://msbslaksvyoiapqdgfbi.supabase.co
NEXT_PUBLIC_SUPABASE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zYnNsYWtzdnlvaWFwcWRnZmJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDU4MTQ1MDcsImV4cCI6MjAyMTM5MDUwN30.WLDzlajfsRQKVuu-oW-aHK0MM-5IgUj6X72t8RxhsYc